.DS_Store

*.class
target/

# for now
javasearch/src/test/resources/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml

# Maven artifacts
dependency-reduced-pom.xml

# resource files
config.json
filetypes.xml
searchoptions.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
