*.class
*.log

# for now
scalasearch/src/test/resources/
tools/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Maven artifacts
dependency-reduced-pom.xml

# resource files
config.json
filetypes.xml
searchoptions.xml

# from https://users.scala-lang.org/t/solved-should-i-add-bsp-directory-in-gitignore/6921
.bsp/
