# Stop searching for other .editorconfig files in parent folders
root = true

# Global settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript, JavaScript and configuration files
[*.{json,json5,js,jsx,rc,ts,tsx,yaml,yml}]
indent_style = space
indent_size = 2

# Keep trailing whitespaces in Markdown files for proper line breaks
[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
