# from bundle <new_app_name>
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
vendor/

# unused resource files
config.json
filetypes.xml
searchoptions.xml

# from https://github.com/github/gitignore/blob/master/Ruby.gitignore
# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
Gemfile.lock
# .ruby-version
# .ruby-gemset
