<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CsSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CsSearch.Properties.Settings>
            <setting name="CompressedExtensions" serializeAs="String">
                <value>bz2 cpio ear gz hqx jar pax rar sit sitx tar tgz war zip Z</value>
            </setting>
            <setting name="BinaryExtensions" serializeAs="String">
                <value>ai bin class com dat dbmdl dcr dir dll dxr dms doc docx dot exe hlp indd lnk mo obj pdb ppt psd pyc pyo qxd so swf sys vsd xls xlsx xlt</value>
            </setting>
            <setting name="TextExtensions" serializeAs="String">
                <value>1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 am app as asc ascx asm asp aspx bash bat bdsproj bsh c cc cfg clj cls cmd cnt conf config cpp cs csh cshtml csproj css csv ctl dat dbproj dbml dbschema ddl dep dfm disco dlg dof dpr dsp dsw dtd env etx exp fls fs fsproj h hpp htm html ics iml in inc ini ipr iws java js jsp layout log mak map master mht mxml pas php php3 pl plist pm po properties py rc rc2 rdf resx rex rtf rtx scc sgm sgml sh sln smi smil spec sqc sql st str strings suml svg sxw t tcl tld tmx tsv txt url user vb vbproj vbs vcf vcproj vdproj vm vrml vssscc vxml wbxml webinfo wml wmls wrl wsd wsdd wsdl xlf xml xsd xsl xslt</value>
            </setting>
            <setting name="NoSearchExtensions" serializeAs="String">
                <value>aif aifc aiff au avi bmp cab dat db dmg eps gif ico idlk ief iso jpe jpeg jpg m3u m4a m4p mov movie mp3 mp4 mpe mpeg mpg mxu ogg pdf pict png ps qt ra ram rm rpm scc snd suo tif tiff wav</value>
            </setting>
            <setting name="UnknownExtensions" serializeAs="String">
                <value>adm aps cli clw def df2 ncb nt nt2 orig pc plg roff sun t tex texinfo tr xwd</value>
            </setting>
        </CsSearch.Properties.Settings>
    </applicationSettings>
</configuration>