*.class
*.log

# for now
scalasearch/src/test/resources/
tools/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Maven artifacts
dependency-reduced-pom.xml

# resource files
filetypes.xml
searchoptions.xml
